<h1>New task</h1>

<%= form_with model: @task do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>

  <div class="actions">
    <%= f.submit "Create task" %>
  </div>
<% end %>

<p>
  <%= link_to "Back to list", tasks_path %>
</p>
